.main{
	background-color: #555555;
	font-family: Arial;
	width: 800px;
	margin: 0 auto;
	}


.cabecera1{
	color: #ffffff;
	margin: 0;
}
.cabecera2{
	color: #cccccc;
	margin: 0;
}

.menu1{
	background-color: #ff8700;
	color: #eeeeee;
	height: 50px;
}

.menu2{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	padding: 0 5px;

}

.menu2 ul, li{
	padding: 15px 10px;
	font-weight: bold;
}
.cuadro-contenido{
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	padding: 5px;
	color: #333333;
	text-align: justify;

}

.contenido {
	width: 70%;
	margin-right: 10px;
	
}

.contenido a{
	color: #ff8700;

	text-decoration: underline;
}

.barra a{
	color: #ff8700;
}

.contenido img{
	border: 2px solid #cccccc;
}

.barra{

	width: 30%;
	border-left: 1px solid #cccccc;
	height: 600px;
	margin-left: 5px;
	padding: 30px 10px 0;
}

.barra label{

	font-weight: bold;
	color: #333333;
}

.barra ul{
	list-style: none;
	padding-left: 20px;

}

.barra li, a{
	margin-top: 0;
	padding: 2px;
	text-decoration: none;
	font-weight: normal;

}



